[2022-03-15 17:45] aomarks opened #10 "Core script runner"

[2022-03-15 17:47] aomarks opened #11 "Only run scripts that are not fresh"

[2022-03-15 17:47] aomarks opened #12 "Cache output locally"

[2022-03-15 17:48] aomarks opened #13 "Watch mode"

[2022-03-15 17:48] aomarks opened #14 "GitHub Actions caching"

[2022-03-22 01:37] aomarks opened #22 "Support cross-package dependencies"

[2022-03-22 01:38] aomarks opened #23 "Concise way to depend on scripts in child and dependency workspaces"
#### [1] Run `<script>` in all of my workspaces (parent → child).

With Wireit, you can already just do `npm run build -ws` to run a given script in all workspaces, which is the standard npm workspaces approach. However it's not fully optimal, because npm doesn't parallelize. So we will also support a syntax like this:

[code]

Which is equivalent to:

[code]

#### [2] Run `<script>` in all of my

[2022-03-22 03:21] aomarks opened #25 "Support limiting parallelism"

[2022-03-22 03:21] aomarks opened #26 "Automatically delete output"

[2022-03-22 03:22] aomarks opened #27 "Automatically treat package-lock.json as input files"

[2022-03-22 03:22] aomarks opened #28 "Add clean command"

[2022-03-22 03:23] aomarks opened #29 "Don't start new scripts after one has failed"

[2022-03-22 03:24] aomarks opened #30 "Actively kill running scripts when wireit receives kill signal"

[2022-03-22 03:24] aomarks opened #31 "Add WIREIT_FAILURES=kill mode kill running processes after one fails"

[2022-03-22 03:25] aomarks opened #32 "Support persistent workers"
Possibly implement the JSON version of Bazel's worker protocol: https://bazel.build/docs/persistent-workers

[2022-03-22 03:25] aomarks opened #33 "Service mode"
By default, Wireit assumes that scripts eventually exit by themselves. This works well for things like building or testing. But sometimes a script runs indefinitely, such as a server.

Setting `"server": true` will tell Wireit that a script runs indefinitely. This has the following effects:

- It will always run. It will never be skipped or restored from cache.

- If something depends on the serve

[2022-03-22 03:26] aomarks opened #34 "Pass-through extra arguments"

[2022-03-22 03:28] aomarks opened #35 "Guard against colliding invocations with a lock file"

[2022-03-22 22:36] #10 closed, assigned to aomarks

[2022-03-22 22:52] #22 closed, assigned to aomarks

[2022-03-26 00:32] #11 closed, assigned to aomarks

[2022-03-28 15:44] aomarks opened #48 "Recover from analysis errors in watch mode"
An analysis error encountered in watch mode doesn't need to terminate the wireit command. We can keep watching all known `package.json` files and keep iterating.

[2022-03-28 15:51] aomarks opened #49 "Watch mode optimizations"
- No need to re-analyze or re-create watchers unless a package.json file has changed (and watchers only need to be re-created if a `files` array changed, and even then only the affected ones do).

- We can share the `CachingPackageJsonReader` instance across analysis. File change events tell us when a cached result is stale.

- We can cache glob results in memory. File change events tell us when a

[2022-03-29 02:58] #13 closed, assigned to aomarks

[2022-03-29 23:19] aomarks opened #54 "Clarify/implement/test symlink behavior"
Make sure we are handling symlinks well in input and output files.

[2022-03-29 23:47] aomarks opened #56 "Pretend to be a TTY"
Some tools produce different output when they detect that terminal is not a TTY (interactive). For example, TypeScript produces colorized output by default only in TTY mode. Otherwise the `--pretty` flag must be specified to force colorized output.

When a process is run via Wireit, the process will think it is not attached to a TTY, because we use the default `pipe` setting to handle stdio from `

[2022-03-31 22:23] aomarks opened #58 "Setting to turn off caching for a specific script"
Probably `"cache": false`.

It seems like we might want to control it per-caching implementation too. You might not want local caching (e.g. because it's a really fast script with incremental build so you don't want it during development), but still want it when using GitHub Actions.

[2022-04-01 15:49] aomarks opened #61 "Replay stdout/stderr"
If a script is fresh or cached, we should replay the cached stdout/stderr. Help for e.g. test output, since it may not be clear that the tests are in a passing state when nothing is logged.

[2022-04-01 20:11] aomarks opened #62 "Dry run mode"
Tells you what scripts would be executed in what order, which existing output files would be deleted, etc.

[2022-04-01 20:15] aomarks opened #63 "Warn if we are cleaning files that are tracked by Git"
If automatic output cleaning tries to delete a file that is tracked by Git, then that's a good indication that the output glob could be too broad.

This could be more expensive than we want, since it requires calling out to another process and would block every script's execution. Maybe something to put in a `diagnose` mode, rather than something we do on every build.

[2022-04-01 20:38] aomarks opened #64 "Detect output outside of package dir during analysis instead of execution"
As a safety precaution, we refuse to clean output files if they are outside of the current script's package. However, it would be even better to catch this error earlier, in the Analyzer, by looking at the `output` glob patterns. We just need to be careful that we are parsing and analyzing the glob patterns correctly, accounting for negations, `{}` groups, and other special glob syntax.

[2022-04-01 20:44] aomarks opened #65 "Detect overlapping output"
Two scripts should probably not be able to set their `output` to patterns that could overlap. Especially because when `clean` is enabled (the default), one script could clobber the output of an other by mistake.

[2022-04-01 21:18] #26 closed, assigned to aomarks

[2022-04-01 23:01] aomarks opened #66 "A way to specify options for all scripts in a package"
Possibility:

[code]

`*` is unlikely to collide with a real script name, but we should probably support an escaping scheme anyway, e.g. `\*` means the script literally called `*`.

[2022-04-02 01:53] #27 closed, assigned to aomarks

[2022-04-03 17:16] aomarks opened #70 "Option to clean output only when input file deleted"
### Problem

`tsc`, even in incremental mode, does not delete the output files corresponding to input files that have been deleted since its last build (see https://github.com/microsoft/TypeScript/issues/30602#issuecomment-478370167). For example:

- Write `foo.ts`
- Run `tsc --build`
  - Generates `foo.js`
- Rename `foo.ts` to `bar.ts`
- Run `tsc --build`
  - Generates `bar.js`, but `foo.js` stil

[2022-04-03 17:41] aomarks opened #71 "Garbage collection for cache directory"
The `.wireit/<script>/cache` directory currently can grow indefinitely. We should implement a garbage collection strategy to cap the size of this directory.

An LRU cache with a configurable maximum number of entries seems like what we want.

We will want to make sure we have an efficient way to maintain the cache hit rate data which scales well with the size of the cache. We will probably want so

[2022-04-03 18:05] aomarks opened #72 "Multiple iterations and flake detection"
It could be useful to sometimes run a script multiple times. For example, to detect a flaky test, maybe something like this:

[code]

This would run the script 10 times, and then report the % of times it failed at the end.

[2022-04-04 17:08] #61 closed, assigned to aomarks

[2022-04-04 17:45] aomarks opened #74 "Stdio replayer should preserve stdout/stderr sequence"
Context: https://github.com/lit/wireit/pull/68#discussion_r841973741

I think the ideal solution requires actually encoding the cross-stream sequence in some way. We could do it with a unified format that can encode the stream, or another idea I had was to have a 3rd file which encodes the sequences as offset/length pairs:

[code]

So the replayer would follow these sequences and do something like

[2022-04-05 01:05] aomarks opened #77 "Glob negations don't always work properly in output field"
The negation in these glob patterns don't work:

[code]

Because fast-glob gives us the directory called `output`, and then excludes any file called `output/excluded` from the result. However, since it already gave us the `output` directory, and we do recursive deletes and copies, the exclusion ends up having no effect.

Here's a test case that currently fails, which can go in `clean.test.ts`:

[c

[2022-04-05 21:09] #25 closed, assigned to rictic

[2022-04-06 17:29] rictic opened #81 "binary lookup fails in cross-package dependencies"
In hooking up wireit in the lit-analyzer repo, one of the sub-repos – vscode-plugin – depends on vsce, which exposes the `vsce` command, and one of its scripts `package-for-test` uses that command.

If I run `npm run package-for-test` from packages/vscode-plugin then when wireit runs the command, vsce is found.

If I run a script that depends on `./packages/vscode-plugin:package-for-test` from the

[2022-04-06 17:47] rictic opened #82 "JSON schema for our package.json fields"
It looks like a VS Code plugin can contribute json schema files: https://code.visualstudio.com/api/references/contribution-points#contributes.jsonValidation

And those json schema files may be able to augment existing schemas?

https://github.com/runem/lit-analyzer/blob/fc6f2d99b7a61368f21d174dc13bb54c36ca50d2/packages/vscode-lit-plugin/package.json#L632
https://github.com/runem/lit-analyzer/blob/

[2022-04-06 20:28] aomarks opened #83 "Matching directory in files array does not include its contents"
When using `output`, matching a directory implicitly includes all of the contents of that directory (though see https://github.com/google/wireit/issues/77 for a caveat with how that is currently broken with `!` negations). That's because when we clean and cache, we use recursive operations like `fs.rm` and `fs.cp`.

However, with `files`, which is used for generating the cache key, we don't use re

[2022-04-06 23:07] #12 closed, assigned to aomarks

[2022-04-07 00:54] #81 closed, assigned to aomarks

[2022-04-08 23:44] #70 closed, assigned to aomarks

[2022-04-09 14:40] aomarks opened #93 "Ability to specify which environment variables should affect cache key"

[2022-04-10 19:29] rictic opened #94 "Invalid package.json file should not cause execution to stop in watch mode"
It should instead report the error and continue watching, as it's really common to save an invalid package.json file (e.g. trailing comma, array where an object should be)

[2022-04-10 19:31] #94 closed, assigned to nobody

[2022-04-13 21:21] aomarks opened #103 "Parent/child delete errors on clean build"
If we try to do a clean build, and output paths include a parent and a child, then an error can be thrown if we happen to delete the parent before the child.

Firstly, we should know that we don't need to delete the child directory in the first place, by using `optimizeCopies` (which we should rename). But we should also not throw if we try to delete a directory whose parent has already been delet

[2022-04-13 23:09] aomarks opened #104 "Unexpected errors should be reported with more context"
We usually know what script we're running when an unexpected error occurs, so at minimum we couldwrap unexpected errors with the script context and include it when we display it.

There might also be additional context we could add to help narrow down where in the code the error occurred. Especially given the fact that `fs` errors in Node don't include stack traces (https://github.com/nodejs/node/

[2022-04-17 16:11] aomarks opened #107 "Improvements around @actions/cache"
### Problem

The public API provided by the `@actions/cache` package doesn't exactly meet our needs, because it automatically uses the file paths that are included in the tarball as part of the cache entry version (see https://github.com/actions/toolkit/blob/7654d97eb6c4a3d564f036a2d4a783ae9105ec07/packages/cache/src/internal/cacheHttpClient.ts#L70), and implements globbing differently.

We want c

[2022-04-18 17:09] aomarks opened #108 "Globbing doesn't support re-inclusion"
Given the following:

[code]

The file `foo/bar/baz` should be included, even though `foo/bar` was excluded. It looks like `fast-glob` doesn't care about the order that `!` negated patterns appear in. This is different to how `.gitignore` and the `files` array in `package.json` files work, so we should fix it.

[2022-04-18 18:20] #83 closed, assigned to aomarks

[2022-04-18 19:08] #14 closed, assigned to aomarks

[2022-04-19 18:24] #108 closed, assigned to aomarks

[2022-04-23 18:23] justinfagnani opened #119 "A way to shorten dependency lists: wildcards or auto-dependencies"
I think a lot of monorepos will have scripts that depend on basically all subpackages. Take lit.dev's `build` script:

[code]

This list is prone to getting out of sync as packages are added. That might be caught quickly when the project doesn't build correctly, but the list is still cumbersome.

Lerna and npm solve this by allowing you to run a script by name in any package that has that script.

[2022-04-23 18:38] justinfagnani opened #120 "Add ways to automatically set (or reuse) input files"
For tsc we generally already have inputs specified in our tsconfig (though I'm not sure if this is _complete_: tsc may read files outside of the `include` glob without error if they're imported by path). It'd be nice to be able to reuse that. The same might be true of Rollup configs and other tools.

Could there be a way to read input files from tool-specific configs? Maybe this is best for a work

[2022-04-23 18:42] justinfagnani opened #121 "Clarify input files for scripts with dependencies"
In this section: https://github.com/google/wireit#input-and-output-files

It reads like I would need to specify all the inputs of a bundle script, including the files it reads. But the `bundle` script example only includes the _config_ as an input. I guess that the outputs of its dependencies are automatically used as inputs, but without seeing that example this isn't how I would have tried to wri

[2022-04-23 19:03] justinfagnani opened #122 "Q: Do all wireit scripts need to also be npm scripts"
Let's say I organize one logical script, like `build`, into several sub-steps, like `build:ts` and `build:graph`. Do I need to make the sub-steps into npm script if they're never intended to be called from `npm run` _or_ as a dependency of another wireit script?

ie, do I need `build:ts` and `build:graphql` in `scripts`?:

[code]

[2022-04-23 21:01] #122 closed, assigned to nobody

[2022-04-23 21:02] #120 closed, assigned to nobody

[2022-04-23 21:56] justinfagnani opened #123 "Can't run commands in npm workspaces"
I'm getting an error when trying to run a basic command in a npm workspace.

`my-project/package.json`:
[code]
`my-project/packages/package-a/package.json`:
[code]

[code]

This also happens if I cd into `packages/package-a` and run `npm run foo`

[2022-04-24 00:31] #123 closed, assigned to nobody

[2022-04-25 16:58] rictic opened #130 "[vscode-extension] Extended validation"
Additional diagnostics which aren't expressible as part of the JSON schema:

- every wireit script needs to be present in the scripts section
- every wireit script needs to just run "wireit" in the scripts section
- every dependency needs to resolve to an npm script

[2022-04-25 17:01] rictic opened #131 "[vscode-extension] Suggested change to convert npm script to use wireit"
When the cursor is on an npm script, we can propose a change that converts that script to a wireit script (just copies the command text to the "command", converts the npm text to just "wireit")

[2022-04-25 18:46] #54 closed, assigned to aomarks

[2022-04-26 22:43] #77 closed, assigned to aomarks

[2022-04-27 02:59] justinfagnani opened #142 "Add guidance on commands that read and write the same files, like lint"
Is is ok to have files and output be the same, like:

[code]

This would be great info for a recipes document too.

[2022-04-27 06:54] lego-sharat commented on #56
Shouldn't setting something like `process.stdout.isTTY = true` do the job. This is how we detect if there is a tty attached or not ?. It looks too simple to cover all solutions but worth a try

[2022-04-27 10:11] 43081j opened #143 "Consider adding a way to list what a script does"
I often use `npm run` to see a list of commands and glance at what each command actually does.

With wireit, of course all of them will be listed as `wireit` which means we're entirely reliant on the scripts being very well named (which won't always be the case).

It could be useful to have a command somehow which resolves the underlying scripts which will be executed and lists them, kinda like a

[2022-04-27 14:16] #82 closed

[2022-04-27 14:47] justinfagnani commented on #33
I did eventually run into a spot where I needed to start a server to run an integration test...

[2022-04-27 15:02] justinfagnani opened #145 "Caching for Google Cloud Build"
We could potentially speed up preview and prod builds for lit.dev if we cached on Cloud Build too. Looks like there's a declarative API for downloading and uploading cached assets: https://cloud.google.com/build/docs/speeding-up-builds#caching_directories_with_google_cloud_storage

[2022-04-27 17:32] aomarks commented on #33
Yeah, this is a high priority issue.

In your case, would restarting your server on each watch iteration work?

I was also thinking that you often have some dependencies which require a restart, and some which don't. So maybe you declare like this:

[code]

🙂

[2022-04-27 19:57] ZachHaber commented on #33
I feel like restart-on-change would be problematic and redundant with "files".

I.e. `"files": []` would indicate that it shouldn't ever restart. `"files": ["*"]` would presumably indicate that it'd restart when anything changes.

Then the logic would work with whatever "server" settings we have to indicate it's a continuous process (I'm not sure the best term). I.e. `"files": []` in the `build:as

[2022-04-27 20:49] aomarks opened #146 "Support yarn and pnpm"
Neither yarn nor pnpm (nor older versions of npm) set the `npm_package_json` environment variable. So, to support all of these, we just need to fall back to searching for a `package.json` from the `cwd` up.

[2022-04-27 22:05] #146 closed

[2022-04-28 00:45] aomarks commented on #142
Interesting! That should work fine, but it will take 2 runs to become stable if a file was reformatted.

[2022-04-28 03:05] mihar-22 opened #150 "Output files are not restored from cache"
Thanks heaps for open-sourcing this having some fun already, it's awesome. I'm not sure if I'm doing something silly but it seems when I run the `build` command as shown below the files are not restored from cache. Is this expected behaviour because my assumption was it would restore the output files?

![image](https://user-images.githubusercontent.com/14304599/165668463-bb5400c2-26fa-4258-94da-bb

[2022-04-28 03:20] mihar-22 commented on #66
This would be amazing, currently repeating `pnpm-lock.yaml` for every script is fragile and repetitive.

[2022-04-28 04:02] aomarks commented on #150
Hmm, that configuration definitely looks like it should work with caching. Caching to local disk should be enabled if you have both `files` and `output`.

Can you try `ls .wireit/*/cache`? That's where local output caches are saved, so whether there is something there or not would be a clue.

(One side note is that the `packageLocks` currently need to be in _every_ script, but I see you already no

[2022-04-28 04:13] gunta commented on #143
It would be nice if it can reuse the info from Fig
https://fig.io/docs/guides/autocomplete-for-npm-scripts

[2022-04-28 04:13] mihar-22 commented on #150
I can confirm files are being cached but they're just not being output:

![image](https://user-images.githubusercontent.com/14304599/165675232-e3dd0f88-35c0-445b-82aa-700a047fef85.png)

[2022-04-28 04:15] mihar-22 commented on #150
To be clear what I mean by restoring is when I manually or through a script delete the output (i.e., `types/` dir), it isn't put back on a subsequent wireit run.

[2022-04-28 05:09] e111077 opened #151 "Support StackBlitz web containers"
Stackblitz seems to use some hodge-podged version of NPM which I believe is based on their turbo modules infra.

Running wireit 0.2.1 in a node web container gives the following error:

[code]

[2022-04-28 05:10] aomarks commented on #150
Oh I see.

Wireit does not use the output files of a script to determine whether it should restore from cache or not -- only the input files and some other fields determine that (full list at https://github.com/google/wireit#cache-key) .

So deleting or changing output files of a script independently of the script can confuse things.

If you need to recover from a situation like this, type `rm -rf

[2022-04-28 11:06] mihar-22 commented on #150
Makes sense, I guess I was coming from Turborepo and I was accustomed to the output files being put back. I guess what I'm asking for is more valuable when remote caching is involved (which I would love to see). Thanks for the swift response.

[2022-04-28 11:06] #150 closed

[2022-04-28 11:08] mihar-22 opened #152 "wireit.config.json"
Would be super clean if we could remove the clutter from the `package.json` file to a Wireit configuration file.

[2022-04-28 12:30] mihar-22 opened #154 "Node 14.x Support (Vercel)"
I know it's wild but Vercel is still on `14.x`. Currently deploys fail because of newer syntax such as logical nullish assignment being included in the distribution.

![image](https://user-images.githubusercontent.com/14304599/165752004-958cb48a-4281-4982-8f18-e2b00d7ce137.png)

[2022-04-28 15:03] aomarks commented on #152
Thanks for filing! I'm a little torn on this.

1. I can see the organizational appeal of a separate file for a more complex build graph.

   On the other hand, one of our major goals is to meld with npm; to feel more like an extension to npm's scripts feature, instead of an entirely separate build system. In this regard, the `package.json` file feels like the right place for your script's build gr

[2022-04-28 16:01] brendankenny commented on #154
FWIW we were just taking a look at wireit for our increasingly hard-to-manage npm script ordering over in [lighthouse](https://github.com/GoogleChrome/lighthouse). Our policy has settled over the years to supporting the Active and _one_ Maintenance LTS (back to Node 14, currently), so this is a blocker for us.

The tsconfig switch to `es2020` would be trivial, but it looks like there are a few Nod

[2022-04-28 16:17] aomarks commented on #154
Very fair, happy to expand support to cover 14. It is still a supported LTS after all.

You identified all the issues, yeah. All petty trivial. Just need a ponyfill for AggregateError. Let's just write an inline one instead of adding a dep, since it's so simple.

[2022-04-28 17:12] rictic commented on #130
Gonna mark this as closed, as we have the basics in. We're not validating dependencies, but that will come once we move the validation code into wireit itself by having it work with the json ast itself

[2022-04-28 17:12] #130 closed, assigned to rictic

[2022-04-28 18:29] luxaritas commented on #152
This seems like something that would be good as an option - many tools allow you to provide configuration either in a dedicated file or package.json. Depending on the situation, sometimes I find it valuable to have configuration explicitly separated out, but it can also be nice to limit the amount of files that are floating around in the root of a package.

[2022-04-28 18:31] luxaritas commented on #119
Another thing Nx does is let you specify default dependencies across all workspaces - ie, in a root configuration file you can note that for the build target in all workspaces, the build target of any dependencies within the package also need to be run

[2022-04-28 18:37] rictic commented on #119
The tricky thing about automatic package-level dependencies is that it's not very granular. e.g. maybe `./foo:build` depends on `./bar:build` but `./foo:test` doesn't depend on `./bar:test`, but there's no way to know that without script-level dependencies, which means your caches are invalidated more often and you can run with less parallelism.

[2022-04-28 18:51] luxaritas commented on #119
That's where configurability comes in. As I said, what Nx does is let you specify default dependencies across all workspaces for a given script. So you can say the build script in a workspace always depends on the build scripts of its dependencies - that doesn't affect the dependencies of the test scripts. I think it is relatively common for this configuration to work without issues - I'm hard pre

[2022-04-28 23:35] calebdwilliams commented on #119
I'm testing wireit for a monorepo at Capital One and will say having automatic dependency checking and script utilities are going to be a huge factor for us in determining our monorepo management tool.

If wireit could replicate a feature like `lerna run` in some capacity it would be a huge benefit. Workspaces in npm and yarn are close enough but the ability to automatically ignore packages in whi

[2022-04-29 00:11] aomarks commented on #119
You can ignore scripts that don't exist using npm workspaces like this:

[code]

https://docs.npmjs.com/cli/v7/using-npm/workspaces#ignoring-missing-scripts

See also https://github.com/google/wireit/issues/23, which would provide an explicit way to say "run <script> in all of my workspaces".

Do either or both of those sound like they would work for your use case, @calebdwilliams ?

[2022-04-29 13:15] calebdwilliams commented on #119
@aomarks that would work assuming it follows the `--if-present` logic (side note, thanks for pointing that argument out to me, I've been searching for that behavior just haven't found it).

If we can somehow opt in to caching across all packages inside the workspace that would be ideal. And if we could have a dependencies keyword that opted in to assumed script dependencies based on the package de

[2022-04-29 20:51] #154 closed

[2022-04-29 21:13] aomarks commented on #154
Just published `0.3.0` which supports Node 14.14.0 and above.

[2022-04-29 21:41] Chriscbr commented on #152
I'd also be interested in this. 👍

Could you give examples of the kinds of features in wireit today that are specifically depend on or align most with npm? The reason I ask is I wonder if the general implementation / data model could be reused if say I had a collection of tasks in a DAG for my Python software project, or my Ruby project, or etc. The main difference I'd see is I'd have to invoke so

[2022-04-29 22:04] brendankenny commented on #154
Awesome, thank you @aomarks!

[2022-04-29 22:11] aomarks opened #163 "tmux mode"
An output mode that looks for [tmux](https://github.com/tmux/tmux) on the system, and uses it to generate tmux layouts where different script's output are displayed in different tmux windows within the terminal.

Example use cases:

- I'm running `npm test watch`. Sometimes I'm getting compiler errors, sometimes test failures, sometimes both. If the output from each of those predictably goes to a

[2022-05-03 12:28] aomarks opened #168 "Script access to changed/added/removed files"
Since Wireit knows which input files were added, removed, and changed between each run of a script, it makes sense to allow scripts to directly access that information to help them run incrementally. Any program which takes a list of files on `stdin` or in `argv` could benefit from this feature.

For example, an eslint script could be configured to only lint the files that were changed or added si

[2022-05-03 13:27] aomarks commented on #168
One problem with this approach is that the `files` list often contains both the source files to a program, and its configuration files.

In the case of eslint, we don't want to pass eslint's own configuration files to eslint.

We would also need some way to slice/filter the files, then.

[2022-05-03 16:51] vitonsky opened #170 "docs: Describe what this tool do in short description"
Hi, your project looks useful, but to understand what this tool is do i have to scroll readme for section https://github.com/google/wireit#dependencies

Please, save our time and add short description about tool to head of readme. Current description "Wireit upgrades your npm scripts to make them smarter and more efficient. " is give nothing info about what is this.

Let's simplify a search of thi

[2022-05-03 17:08] aomarks commented on #170
Thank you for the feedback, I agree the README could do a better job at showing what Wireit is about at the top. I think the list of features has some of this, but it's not enough detail/context.

[2022-05-03 17:19] vitonsky commented on #170
I think you can mention main feature of this tool in first paragraph and then add some list of additional features.

Example of short description (i have bad english): "wireit allow you to describe complex npm/yarn scripts with dependencies easy"

And then mention parallelism, incremental building and other features as list with feature and short description if necessary.

[2022-05-03 18:59] pesterhazy commented on #168
Wouldn't it be possible to pass the list of files changed as command line parameters to the linter? That's how treefmt does it: https://github.com/numtide/treefmt/blob/master/docs/formatters-spec.md#command-line-interface

[2022-05-03 19:46] aomarks commented on #168
Yep, that's what all of these examples show; that's what xargs does. I was thinking a file would be better than putting the files directly into environment variables, because there could be a lot of them. But maybe that's fine.

[2022-05-03 20:54] aomarks opened #173 "Globs should be forced relative to package directory"
Currently `/foo` means exactly that. The file called "foo" in the root of the filesystem. This is different to how the npm `files` array works, which "re-roots" absolute paths on-top of the current package (in other words, it ignores the leading slash). We should work the same way, since it's currently a big footgun.

One special case is that for input files, we do want to support selecting files

[2022-05-04 18:10] aomarks opened #181 "Should be error to try and cache outside of package dir"

[2022-05-04 22:00] rictic opened #184 "Test code actions in vscode extension"

[2022-05-04 22:04] #173 closed

[2022-05-04 22:41] rictic commented on #131
Fixed by #174

[2022-05-04 22:41] #131 closed

[2022-05-05 06:05] e111077 opened #187 "Hovering over npm script should expose command"
Given a package.json that looks like this:

[code]

hovering over `scripts.build` should show a tooltip that shows the wireit command associated with it. e.g. `"tsc"`, and hovering over the `scripts.bundle` should show `"rollup -c"`.

If a script does not have a command, then maybe it should not show anything or maybe it should show its dependencies.

Alternatively it should show the wireit config

[2022-05-05 16:33] #181 closed

[2022-05-06 03:30] #35 closed

[2022-05-06 16:42] justinfagnani commented on #187
I'd love general hover-over and jump-to-definition for any wireit reference: cmd-clicking on script.build should ump to the wireit script. cmd-clicking on a dependency should jump to the dependency definition (all the way to the wireit script, skipping the intermediate npm script).

Hovering over a dependency should also display the command the dependency runs and/or a description/doc property add

[2022-05-06 22:43] aomarks commented on #33
I'm going to start working on this feature, and I just updated the description of this PR to describe how the feature will work.

[2022-05-06 23:03] aomarks commented on #33
Good ideas! These could potentially be follow up features for the basic server support, but here are some ideas to explore first to let us achieve the same thing by composing regular scripts on top of a server script.

cc @justinfagnani @ZachHaber

#### Wait for a TCP port to be listened on

[code]

[code]

#### Wait for the server to emit some stdout

[code]

[2022-05-10 15:01] yuriteixeira opened #205 "Cached output files inside .wireit should be used by default if build artefacts are not present"
I just read #150 and discovered that [I had to manually `rm -rf .wireit/*/state` in order to use the local cache whenever the outputs are not present](https://github.com/google/wireit/issues/150#issuecomment-1111751788) (eg: in a private CI environment, where I'm manually restoring the cache from a previous build), and that seemed very counter-intuitive.

I was ready to start working a PR to fix "

[2022-05-10 16:07] aomarks commented on #205
Interesting use case, thanks for the report!

So I assume you are caching a `.wireit` directory, but not the output files that go with it? Wireit then reads the `state` file, and thinks that the output is already present.

We could potentially check for output files as you suggest, and assume that if there are no matching files, that the `state` file must be out-of-sync. This wouldn't work in the

[2022-05-10 16:29] rictic commented on #184
#202 does a halfway-to-integration test of our code actions in wireit proper. It uses jsonc-parser to execute the text edits, and it doesn't test the small bit of glue code in the server, but I think it's probably good enough for our purposes, though it is unfortunate that there isn't a good option for actual end to end integration testing

[2022-05-10 19:16] aomarks commented on #205
A slight variation of your workaround could be to only cache `.wireit/cache`, so that you don't have to `rm .wireit/state`.

[2022-05-10 19:21] aomarks commented on #205
Another idea that could work for your CI use-case, and which doesn't require any checking of output files, would be to store some additional information in the `state` files which would let us detect when we are probably running on a separate machine, which could indicate that the `state` file is out of sync. For example, on GitHub Actions, the combination of `GITHUB_RUN_ID` and `GITHUB_RUN_ID` en

[2022-05-10 22:23] rictic opened #210 "Dynamically loading language server implementation from the local version of wireit"
Ideally we'd use the local implementation of wireit to power not only the CLI but also the language server that powers many of the vscode extension's features.

There's a couple of ways we could slice this. We could dynamically import just `ide.ts`, or we could package up a complete language server binary as a bundle and include that in the wireit npm package.

[2022-05-11 14:45] #29 closed

[2022-05-11 23:17] aomarks opened #215 "Error if globs don't match any input files"
We should error if a glob in the `files` array doesn't match any files.

Note we have to do this at Execution time, not Analysis time, because the input files might not exist before dependencies execute.

Also note currently we can only do this crudely: "are _any_ files matched by these input globs" because we don't have insight into which specific globs matched, because we delegate globbing to `f

[2022-05-12 06:23] gunta commented on #56
Related: https://github.com/google/zx/issues/407

[2022-05-12 16:07] rictic opened #221 "Squiggle wrong in same-package missing dependency with a colon in its name"
Consider:

[code]

Expected squiggle:

[code]

Current:

[code]

[2022-05-13 15:45] JodiWarren opened #225 "Order script execution by npm dependencies"
When working in a monorepo where the packages have varied dependency chains, it is difficult to use WireIt to manage the building of all packages.

The user would effectively need to recreate the internal npm dependencies within the dependencies section of each build command, otherwise a build will result in many missing file dependency file errors.

To illustrate the problem I'm facing, say we ha

[2022-05-13 16:40] aomarks commented on #225
See also https://github.com/google/wireit/issues/119

[2022-05-13 18:12] #30 closed

[2022-05-13 19:31] #31 closed

[2022-05-14 17:27] rictic commented on #187
If you hold down cmd/ctrl and mouse over a dependency or a script in the scripts section it will now show you the configuration for that script

if you then click it will take you to it

[2022-05-14 19:08] aomarks opened #233 "Keyboard shortcuts for watch mode"
Maybe something like:

| Key            | Action                                                   |
| -------------- | -------------------------------------------------------- |
| `r`            | restart build                                            |
| `Ctrl-r`       | clear state+cache of primary script(s) and restart build |
| `s`            | stop current build

[2022-05-15 14:56] #221 closed

[2022-05-15 16:21] #107 closed

[2022-05-16 00:39] aomarks opened #237 "Option to stop inheritance of cache keys from dependencies"
Currently the cache key for a script (which affects whether it can be skipped or restored-from-cache) automatically includes the transitive cache keys of all of its dependencies. That means if A depends on B, then if an input to B changes, then both B and A will re-run -- regardless of whether B produces any new or relevant output.

This is a safe and good default because it doesn't require you to

[2022-05-16 06:48] gunta commented on #152
This would be 100% amazing 👍

[2022-05-16 07:27] gunta commented on #142
It would be nice if it can detect input/output files on the same build in order to take only 1 run.

[2022-05-16 07:40] gunta opened #239 "Add support for fast caching on github self-hosted runners"
## Explainer
As we know, Wireit is likely going to remove dependency on github cache action, so that would be a good timing to handle this issue.
Wireit introduces heavy caching which is perfect when you want to save CPU cycles, but its trade-off is network speed and hard-disk read/write speed.

One of the biggest reasons to use a self-hosted runner is that you can provide a build machine with 10x

[2022-05-16 08:45] gunta commented on #239
Related: https://github.com/google/wireit/issues/107

[2022-05-16 09:11] JodiWarren commented on #225
That might well solve it for us and I'll be really interested to see how well it works. So then WireIt would follow the dependency chain for each package that appears within the workspace, build out a dependency tree, and step through, building one by one? The cacheing should make that very fast for subsequent packages with similar dependencies.

I also think the scope for WireIt being different f

[2022-05-16 14:56] aomarks commented on #239
Hello, thanks for the issue!

Interesting -- this PR should have been a drop-in replacement for the client library. Wireit still supports exactly the same integration with GitHub Actions Caching. Did you experience a performance regression after upgrading?

Are the download speeds in this table correct? Is it possible the "Cache Download Speed" column is reversed?

I haven't found this to be true

[2022-05-16 15:03] aomarks commented on #142
Just curious, is your use-case also something like formatting, or something else?

[2022-05-16 15:11] aomarks commented on #119
Could you provide an example of where you would like to use this feature? I am curious about whether https://github.com/google/wireit/issues/23 (support `$WORKSPACES` syntax`) would also solve this problem for you -- which would be the case where you want to run the same script name in all of your workspaces.

[2022-05-16 18:45] rictic opened #240 "package locks in a monorepo"
In a monorepo we might have:

./package-lock.json
./child/package-lock.json

I think we want the scripts in child to include both package locks as part of their cache keys. I think we might want to just walk up the dir tree and include _every_ lock file we encounter.

Came up when updating typescript in the base package of the lit monorepo.

[2022-05-16 18:49] rictic commented on #240
Hm, I might have misdiagnosed this here

[2022-05-16 18:50] aomarks commented on #240
Yeah this is already how it works actually.

https://github.com/google/wireit/blob/main/README.md#:~:text=as%20well%20as%20in%20all%20of%20its%20parent%20directories.

[2022-05-16 18:51] aomarks commented on #240
Implementation: https://github.com/google/wireit/blob/3a0082ed5386fb0300167e582a1425505a650581/src/analyzer.ts#L783

[2022-05-17 15:05] rictic commented on #240
This was my bad, and not actually a wireit issue!

[2022-05-17 15:05] #240 closed

[2022-05-17 23:24] aomarks opened #245 "Proposal: changes to output and fingerprinting"
This is a draft proposal for a set of changes that together provide a similar but slightly different solution to the problems that https://github.com/google/wireit/pull/238 is trying to solve. Hopefully in a more intuitive way.

#### Output propagation

Automatically treat the output files of a dependency as the input files of the dependent. This was _sort_ of the case before, but only implicitly

[2022-05-18 00:04] augustjk commented on #245
I do like this approach. The syntax feels more complex but conceptually what it's trying to do makes more sense. While I like the sugar of the output slice syntax, it definitely feels like superuser territory. I'm assuming then specifying an output slice with a `!` in the dependency implies `outputInvalidates: false`?

Regarding the name `outputInvalidates`, it doesn't feel as appropriate in the s

[2022-05-18 00:07] aomarks commented on #245
Yeah. Or you could think of it as a way to automatically produce the exact configuration shown above it under "Output slices".

[2022-05-18 07:03] gunta commented on #239
The problem is that we were using a forked `github/actions` in order to support S3 API transfer to our hosted runners.

Sadly, it is correct.

Here is some example from the build logs

# Github.com Runner (Azure @ US Region)
[code]
**Total: 33s**

# BuildJet Runner (Owned Datacenter likely @ US Region)
[code]
**Total: 1m 5s**

# Self-hosted Runner (Private Datacenter @ Tokyo Region)
[code]
**Total

[2022-05-18 18:47] rictic commented on #245
Do outputs flow down transitively? i.e. if A depends on B depends on C does A's fingerprint include the output files from just B or B and C?

I believe that they should, just based on common usage patterns I see

[2022-05-19 07:56] JodiWarren commented on #225
We're currently using a combo of Lerna and Yarn, though we've almost finished moving to PNPM.

We've looked into it, but it's not quite enough on it's own. However, we would strongly consider switching to it if WireIt met all of our other needs. The strong caching means that the local build speed improvement with a primed cache is vast, and we have high hopes for it improving our CI pipeline speed

[2022-05-24 18:12] rictic opened #260 "Add animated gifs of vscode extension features to docs"

[2022-05-26 22:27] appsforartists commented on #23
I'm faking this in the interim by adding this to the root `package.json`

[code]

where `core` and `preact` are the folder names of my local packages.  Now I can, e.g. `yarn run build watch` and have all my packages transitively watched without running into serial blocking issues.

[2022-05-26 22:58] appsforartists commented on #33
The correct answer is probably "wait until this is supported," but I just naively tried to workaround this:

[code]
and got yelled at:
[code]

[2022-05-27 00:34] aomarks commented on #33
I think I would suggest something like this for now:

[code]

So, you get an initial build, followed by simultaneously building continuously and starting your server.

[2022-05-27 07:12] SanderElias commented on #33
I also just hit this, Working around it by nodemon. I don't like the nodemon solution, as it requires yet another terminal to be open.
Something to consider is other toolchains that have their own "watch&serve" options like Angulars `ng serve`.
while an option ` "server": true` would work well in that scenario, the wording `"server"` might throw off some of the devs using such a tool

[2022-05-27 09:40] SanderElias opened #262 "command gets re-executed even with no change in input files"
This might be me misunderstanding the nuances in the config. However, the command gets called every time I run `npm run buildDeps`

[code]

I tried quite a number of things, but the command for the `"sharedSock"` dependency gets executed every time.
It might be me misunderstanding the setup, but it should skip the command if there is no change in the `files` of the `"sharedSock"` right?
I looked a

[2022-05-27 14:46] aomarks commented on #262
Based on the config shown, it seems like you should be getting fresh skips/caching. Is there anything more to know about how you are running the command? If you directly run `npm run sharedSock` twice in a row, does it execute twice?

[2022-05-27 16:12] SanderElias commented on #262
@aomarks Yes, it does execute twice.
In watch mode, it will execute on every change, including changes in the server

[2022-05-30 14:42] bennypowers opened #265 "Watch some scripts (e.g. `build`) but not others (e.g. `serve`)"
I've got a use case which I'll bet is quite common:
- a build process that outputs files, in my case `style-dictionary`
- a dev server with it's own file watcher, watching the files output in the previous step, in my case `@web/dev-server`

It wouldn't make sense to restart the dev server on changes, so using it's built-in filewatcher is smart.
We'd also like to be able to watch the build's input

[2022-05-30 15:28] rictic commented on #265
Related: #33

[2022-05-30 17:47] aomarks commented on #265
Yeah this is https://github.com/google/wireit/issues/33 plus https://github.com/google/wireit/issues/237

[2022-05-31 19:12] #48 closed, assigned to rictic

[2022-06-01 18:19] jpzwarte commented on #34
So I have this:
[code]

I would like to be able to pass extra arguments on the cli, for example:
[code]

[2022-06-01 18:40] aomarks commented on #28
It could be invoked like this:

[code]

[2022-06-01 18:42] jpzwarte commented on #28
I know the `watch` syntax is similar, but it kinda looks weird? Why not `npm run build --clean`, so "build" is different from the clean argument?

[2022-06-01 18:44] aomarks commented on #28
There are a few things that "clean" could mean, by the way:

1. Bust the cache for the given script (i.e. delete `.wireit` directory, or part of it).

2. Delete all declared output files for the given script.

3. Delete every file that isn't tracked by Git. Wireit won't do this, but `git clean -dfx` is a good way to do it generally.

And then for any of those options, there is the question of whet

[2022-06-03 01:18] appsforartists opened #273 "gitpkg publish runs indefinitely"
Given this package.json:
[code]

wireit hangs indefinitely on "Processing…"
[code]

It looks like `gitpkg publish` succeeded.

Maybe if `Processing…` sees the same output for more than 10s, it should echo it so I can see what's happening.

[2022-06-03 16:15] 43081j commented on #273
had a little dig, its an infinite loop!

https://github.com/ramasilveyra/gitpkg/blob/884b0fa439b93326fb5df910d4aabc6c706c34ed/src/tasks/Publish/index.js#L38

gitpkg runs the `publish` and `postpublish` scripts as part of its publish command.

in your case, your script which calls gitpkg is called publish, so it ends up calling itself, forever.

maybe we can detect if wireit is called by itself and

[2022-06-03 19:50] #34 closed

[2022-06-03 23:05] appsforartists commented on #273
Thanks for investigating!

I'm guessing `"publish": "gitpkg publish"` doesn't cause these issues because it throws an error on the second entrance:

[code]

I wonder why `wireit` doesn't meet the same fate.

-----

IDK why @ramasilveyra runs `yarn run publish` during `gitpkg publish`.  Perhaps the intent is to push to NPM at the same time as Git, but that seems like a dangerous default (not only b

[2022-06-04 06:10] 43081j commented on #273
I doubt it'll get as far as calling gitpkg a second time. I imagine the second time it calls wireit is when it hangs, before it gets around to spawning the inner process (gitpkg).

Maybe to do with the file locking wireit does, or something like that.

[2022-06-07 01:42] ramasilveyra commented on #273
Fixed with https://github.com/ramasilveyra/gitpkg/commit/439f75e94f8685f50587f8937036ad05fdae02fe and released in [v1.0.0-beta.3](https://github.com/ramasilveyra/gitpkg/blob/master/CHANGELOG.md#100-beta3-2022-06-07)

[2022-06-07 01:50] appsforartists commented on #273
@ramasilveyra Thank you!!!

[2022-06-07 21:32] sorvell opened #280 "Problems when switching branches"
I generally have problems with wireit when switching between github branches. If a file that the `.wireit` cache expects to exist on disk is deleted (but the `.wireit` cache is not, and it's typically in `.gitignore`), then builds will fail due to `wireit` thinking the build is fresh when the build output is not there.

It would be great if this were either somehow handled automatically or there w

[2022-06-07 23:25] sorvell opened #281 "Can't run web test runner with `--watch`"
WTR's interactive mode invoked via [--watch](https://modern-web.dev/docs/test-runner/overview/#basic-commands) is useful for runtime debugging. When using this in a wireit command, I get an error:

`Error: Cannot run watch mode in a non-interactive (TTY) terminal.`

[2022-06-08 07:23] black7375 commented on #23
IMO, I hope it can be set like t[urborepo's `dependsOn`](https://turborepo.org/docs/core-concepts/pipelines#task-dependency-format).

[2022-06-08 14:06] rictic commented on #23
What would "^build" in a dependency mean?

[2022-06-08 22:34] black7375 commented on #23
It's a topological dependency.
The explanation is well described in turborepo link.

[2022-06-08 23:03] appsforartists opened #286 "Support for Yarn Berry"
I have a bunch of related projects.  Each has a structure like this:

[code]

where one package provides the framework-agnostic functionality, and sibling packages provide additional features for a particular framework.

Inspired by wireit, I'm exploring merging them into a monorepo with this structure:

[code]

To do that, I need to upgrade to Yarn Berry. In Berry, `"build": "wireit"` will only r

[2022-06-08 23:04] aomarks commented on #23
Just to clarify, there are two related operations related to this space (originally this issue was just discussing [1], but I think it's helpful to discuss both together).

#### [1] Run `<script>` in all of my workspaces (parent → child).

In Turborepo, I believe [1] just happens automatically, so if you run `turbo run build` from your root, it will run `build` in all workspaces.

With Wireit, you

[2022-06-08 23:10] appsforartists commented on #23
Mild bikeshedding, but `dependencies` can have both modules in your control (`my-other-package`, perhaps populated with a symlink by `yarn link my-other-package`) and ones downloaded from npm (e.g. `tslib`).  Curious to see how you handle that.

Would `"packages": "dependencies"` only follow symlinks?

[2022-06-08 23:26] aomarks commented on #23
Great question! I think there is indeed an important distinction between workspace sibling dependencies, and `npm link`'d packages. I think we only want to include the former.

I think the right solution is probably to find your workspace root, grab the set of all workspaces, and then filter them by the dependencies of the starting package. Or in other words, it's the intersection of your dependen

[2022-06-08 23:32] aomarks commented on #286
Interesting that Yarn is introducing more incompatibility with npm...

Would another solution (maybe more correct from Yarn's perspective?) be to make wireit a dependency of all your packages, instead of just the top one?

[2022-06-08 23:55] appsforartists commented on #286
I'm sure you could include it in every package.  It just introduces an annoying amount of maintenance (and duplicative consumption on disk).  I can also imagine subtle potential problems if the versions of `wireit` used in a project deviate (and thus behave differently).

Yet another option would be a `--chill`/`--force`/`--i-know-what-im-doing` flag that suppresses the error.

I don't know of oth

[2022-06-09 00:01] appsforartists commented on #286
Another potential option would be allowing `wireit` to accept which target to build as a command line flag.  This is also potentially cumbersome (because you'd have to type the path to the target you're already in), but avoids the multiple drifting installations problem:

e.g.
[code]

Presently, this fails with
[code]

[2022-06-09 00:32] black7375 commented on #23
My first suggestion was that I would like to be implicit syntax at workspace level.

[code]

to
[code]

---

The explicit syntax is easy to implement and may have advantages in the performance, but it becomes too complicated.
For example, if you convert the first proposal to an explicit syntax,
[code]

It is inconvenient because it is too long and needs to set various files.
I think it is good to

[2022-06-09 00:41] aomarks commented on #286
For background, the reason we are strict about `script` being `wireit` is to prevent this scenario:

[code]

We want to be sure that [1] `npm run foo` and [2] `npm run bar` both end up running `correct-command`. But if we didn't check the script value, then [1] would run the bad command, while [2] would run the correct command. That's a footgun that might lead to some confusing situations, so we w

[2022-06-09 01:57] appsforartists commented on #286
Thanks for the context!

You can programmatically toggle between yarn versions:

https://yarnpkg.com/cli/set/version

presumably you could run your tests with `yarn@1`, and then run `yarn use version berry` and run the relevant tests again (or vice-versa, swapping `classic` for `berry`).

[2022-06-09 20:12] #286 closed

[2022-06-09 23:05] appsforartists commented on #33
Have you considered how something like livereload/hot module replacement might work in wireit?

One common pattern is to use an environment variable (e.g. `ROLLUP_WATCH`) to decide whether or not to include a livereload client in the generated bundle.  Without wireit, you might have something like this:

[code]

where `"start"` is effectively `"build"` + `--watch`.  (I'm imagining a future where s

[2022-06-10 01:11] aomarks commented on #103
I believe this is no longer an issue.

[2022-06-10 01:11] #103 closed

[2022-06-10 01:17] aomarks commented on #273
Seems like this is resolved.

[2022-06-10 01:17] #273 closed

[2022-06-10 01:18] aomarks commented on #119
Closing in favor of https://github.com/google/wireit/issues/23

[2022-06-10 01:18] #119 closed

[2022-06-10 01:21] aomarks commented on #143
I'm hoping to avoid standalone invocations of wireit like `npx wireit --list`. For this use case, personally I use the VSCode extension https://marketplace.visualstudio.com/items?itemName=google.wireit which has support for jump-to-definiton (F2), and also if you hold Control and hover over a script then it shows you the config as well.

[2022-06-10 01:21] #143 closed

[2022-06-10 01:25] aomarks commented on #239
Please re-open if you have additional information, but from the description so far I'm not sure that it's clear that there was actually a regression here. The new GitHub Caching implementation should have been a drop-in replacement for the library we were using before.

[2022-06-10 19:09] aomarks commented on #225
Closing in favor of tracking at https://github.com/google/wireit/issues/23

[2022-06-10 19:09] #225 closed

[2022-06-10 19:16] aomarks commented on #121
The way it actually works is this:

1. When we run a script, we generate a *fingerprint*. The fingerprint is comprised of the configuration of the script, plus the hashes of the input files, **plus the fingerprints of the dependencies**.

3. If the `.wireit/fingerprint` file matches the latest fingerprint, the script is fresh and we do nothing. If there is a `.wireit/cache/<script>/<fingerprint>`

[2022-06-10 19:16] #121 closed

[2022-06-10 19:18] aomarks opened #291 "Make a docs website"
Create a nice website for Wireit with more detailed and better organized docs.

[2022-06-10 19:32] aomarks opened #292 "Output files should be validated before assuming a script is fresh"
### Background

Currently if the `.wireit/<script>/fingerprint` file matches the current fingerprint for a script, then we assume that script is fresh, and skip it.

This works great, unless another process modifies the output files independently of Wireit.

The following issues are all examples of ways users have inadvertently gotten their script into this state:

https://github.com/google/wireit

[2022-06-10 20:28] aomarks commented on #280
https://github.com/google/wireit/issues/292 Should resolve this issue, so will track there.

[2022-06-10 20:28] #280 closed

[2022-06-10 22:54] augustjk opened #294 "Build fails in Node 14 workflow"
Some node modules are not installed when running `npm ci` in node 14 which causes errors during the typescript build. Specifically `vscode-languageserver`, `vscode-languageserver-textdocument`, and `vscode-languageclient` are needed for the build to be successful.

See https://github.com/google/wireit/runs/6838811493?check_suite_focus=true

This is probably due to npm v6 not supporting workspaces

[2022-06-13 14:40] rictic commented on #294
I think we could just make them dev dependencies in the main wireit package.json

[2022-06-14 18:50] aomarks commented on #187
Is this issue fixed?

[2022-06-14 20:40] #187 closed

[2022-06-14 22:25] #294 closed

[2022-06-15 18:27] aomarks commented on #280
Wireit 0.6.1 was just released which includes output file verification, which should resolve this issue.

[2022-06-15 18:27] aomarks commented on #262
(Sorry, I incorrectly referenced this issue which auto-closed it)

[2022-06-15 18:30] aomarks commented on #205
@yuriteixeira Wireit 0.6.1 was just released, which adds output file verification (https://github.com/google/wireit/pull/300). This should mean that you no longer need the workaround discussed here, because Wireit will automatically detect that the output files are out of date and re-run the script.

[2022-06-15 18:30] #205 closed

[2022-06-17 18:16] aomarks opened #313 "Recover from GitHub caching 503 errors"
Sometimes GitHub caching goes unavailable. We already recover from 429s, we should add 503s too.

[code]

[2022-06-19 14:28] davidsneighbour opened #314 "Document releases in this Github repository"
It appears that this repository is the main repo for wireit. Please document releases or at least tag the releases so changes can be referenced between versions via [releases-tab](https://github.com/google/wireit/releases). This is more or less automatic if you "just" tag releases.

[2022-06-19 17:10] aomarks commented on #314
They're documented in the CHANGELOG file: https://github.com/google/wireit/blob/main/CHANGELOG.md

[2022-06-20 06:52] mimshwright opened #315 "Question / Proposal: Can you use an empty command and only use dependencies?"
Say I have a script like:

`"script": { "lint": "npm run eslint && npm run prettier" }`

in wireit, i might do:

[code]

I tried this and get an error when I don't have a command for 'lint'. I am currently using `echo ''` which is fine.
Is there anything wrong with this approach? I wonder if there's a way to do this where the command is empty? If not could / should there be?

[2022-06-20 13:33] davidsneighbour commented on #314
Yes, the term "document" was probably wrong. What I meant is running `git tag v0.0.1` and `git tag v0.0.2` so that Github can do its magic and list all changes between these versions. This will also add an entry in the notifications on updates. Having to manually going to CHANGELOG.md works currently.

[2022-06-21 14:54] rictic commented on #315
Having dependencies but no command is totally fine. We even do it in wireit's own wireit config: https://github.com/google/wireit/blob/236176983803e63f6f0efa274ce99bd5f2a28c6a/package.json#L71-L93

Double check that you're getting an error? If so, what do you see?

[2022-06-21 17:16] aomarks commented on #314
Sure, I added `vx.x.x` tags to all the release so far, and will do so going forward.

[2022-06-21 17:16] #314 closed

[2022-06-21 22:10] mimshwright commented on #315
I see what I did wrong. I used an empty string for command.

[code]

Maybe the error message could suggest that you remove the command property if "dependencies" is defined.

[2022-06-23 01:16] ScottAwesome commented on #152
My sincerest question:

why not use the `config` key in `package.json` ? I thought thats what it was for, tools and the like.

[2022-06-23 01:21] Muromi-Rikka commented on #152
package.json is too long

[2022-06-24 10:05] gunta opened #325 "Add a semantic granular way to specify the parallelism of dependencies"
## Use case
- Two tasks that need to be run sequentially, and the order _may (or may not) matter_
  - Ie. When two tasks modify the same output files

### Currently the way to make dependencies run in serial mode is the following
[code]

## 1. WIREIT_PARALLEL way
[code]
Which has the disadvantages of:
- It applies to the whole dependency graph
- Hard to type each time

## 2. Unix double ampersand

[2022-06-24 15:04] aomarks commented on #325
Thanks for the detailed suggestion. Could you provide a motivating real-world example as well?

[2022-06-25 03:51] scottrippey commented on #152
I always love tools that give me a choice between `.json` and `.js` ... if my configuration gets complex, or needs to inherit a base config, then I love it when I get the full power of JavaScript and Node to make things happen!

[2022-06-26 01:31] #313 closed

[2022-06-27 06:13] gunta commented on #325
Definitely, this is not the sexiest use case, but here it is:

Currently, we're using `gofmt` and `strictgoimports` to format/lint golang files.
They both take the exact same golang files as input and output, each one doing its own particular job.

[code]

Ideally, by running `npm run format` both linters should be able to run in parallel, but they don't.
Sometimes we get
[code]
My guess's that bo

[2022-06-27 09:54] rictic commented on #325
The tricky thing about

[code]

is that if anything else depends on either `format:gofmt` or `format:strictgoimports` then they could still end up running at the same time unless we add a new kind of global constraint.

wireit already has a way of saying [X can't run while Y is running] and that's to add a dependency between the two, in either direction. In your situation what I'd do is just add a

[2022-06-28 07:59] gunta commented on #325
If anything else happens to depend on either `format:gofmt` or `format:strictgoimports`, then it should be made as dependency of those.

Yes, this method works, also the WIREIT_PARALLEL way and the Unix double ampersand way works.
But when another team member comes in and reads the code it doesn't makes semantic sense, since its not a "dependency", but just waiting for another job to end.

Here I

[2022-06-28 18:07] aomarks opened #330 "GitHub caching should recover from TCP timeouts"
Sometimes we get errors like this from GitHub caching:

[code]

We should recover from these the same as we do from 429s and 503s.

[2022-07-07 05:29] noobyogi0010 commented on #315
Hey, @rictic
I would love to work on this issue if no one else is working on it.
Thanks!

[2022-07-07 06:24] aomarks commented on #315
I would love to work on this issue if no one else is working on it.
Thanks!

That would be great!

[2022-07-07 12:40] milesrichardson commented on #262
I had a similar issue and was able to solve it by adding some exclude patterns to `output`. In my case I was generating `.generated.ts` files for any `.ts` file that includes some GQL snippet that `graphql-codegen` wants to use. The problem was that on the second run, `wireit` would report the output as "fresh", but copy files from the cache, and in doing so, delete the `.generated.ts` files.

The

[2022-07-20 16:52] aomarks commented on #330
Similar error we should also handle here:

[code]

[2022-07-20 17:54] augustjk commented on #325
A use case for us I can envision might be for a top level test script to list dependent tests such that all unit tests can be run in parallel but run web test runner tests in serial since having multiple of those running at the same time seems to cause timeout failures.

[2022-07-20 23:55] aomarks commented on #325
Another idea here is to be able to configure a "parallelism weight" for each script. So for example, a web test script that launches 3 browsers in parallel could have `parallelismWeight: 3`, so that it reserves 3 parallelism slots when it's running.

[2022-07-28 08:46] gunta commented on #325
Interesting idea

[2022-08-14 14:55] SanderElias commented on #33
Is there anything I can do to help here?
This missing feature does make it harder to use wireit in any project that has a server, or its own build tool with build-in watchers.

[2022-08-15 18:40] aomarks commented on #33
It's my top priority for wireit, but lately I have had to prioritize other projects. I have a start on the implementation, but it's not quite ready to land yet. Sorry for the delay.

[2022-09-01 00:58] appsforartists opened #409 "yarn run -TB wireit gets a loop lock if script is missing"
Inside `some-project/packages/some-package/package.json`:

[code]

## Expected

Error saying `some-command` entry could not be found in `wireit` config.  (This issue originally arose because I put the command config one level too high in the JSON tree.)

## Actual
[code]

[2022-09-06 20:18] rictic commented on #409
What were you originally trying to do? What does `yarn run -TB` normally do? I looked in the docs of `yarn help run` but they didn't specify `-T` or `-B`

[2022-09-07 06:19] appsforartists commented on #409
`yarn run -TB` means "run the top level binary", which is to say, `node_modules/.bin/wireit` from the repo root.

[2022-09-15 01:16] rictic commented on #409
Hm, so where you don't have a "some-command" command in the wireit section, is that a separate bug that wireit doesn't handle well?

[2022-09-15 21:36] appsforartists commented on #409
[code]

The `-TB` is what tells yarn how to resolve the binary.

[2022-09-19 16:16] jorgecasar opened #430 "FATAL ERROR - JavaScript heap out of memory"
# Environment information

- packageManager: yarn
- Monorepeo +50 packages
- 1 package has 50 internal dependencies.

# Description

I'm running `yarn workspaces foreach --since --verbose --topological-dev run build` to build all packages in topological order because of typescript compilation. Once it build all packages finished with "@org/core" that depends on 50 other packages other monorepo. Af

[2022-09-19 17:13] aomarks commented on #56
Reopening because #427 will only work for programs that follow the convention, and doesn't handle other TTY related differences (e.g. web test runners real time progress bars)

[2022-09-19 19:05] rictic commented on #430
Interesting. It sounds like you're using a combination of yarn workspaces and wireit to run your scripts? Please say more about how much wireit is used in your monorepo, and what the dependency edges look like, that'd be very helpful in understanding what's going on here.

Internally, when wireit is running a bunch of scripts that are managed by wireit, it won't create wireit subprocesses for each

[2022-09-20 07:34] jorgecasar commented on #430
I'm not sure I've understood the example correctly, but I assume the build process is simple and there are no mixed build systems.

For building we are using `yarn workspaces foreach --since --topological-dev run build`, for build only the packages that are changed. As this is the first version we are building it runs in all workspaces.

For each package the build process is configured as follow:

[2022-09-20 07:53] rictic commented on #430
That's using yarn workspaces as a build tool to invoke wireit. It's better to just use wireit, and use the wireit configuration to determine which scripts to run.

See for example the toplevel build command in the lit monorepo: https://github.com/lit/lit/blob/a279803d14dd0d0e81d49063587965581bdc759a/package.json#L38-L77

However, the more I think about it, the more this seems like it's not the pro

[2022-09-20 15:22] jorgecasar commented on #430
It seams it work. I had to sort by dependency the script. It could be cool to get somehow the dependency tree to easily create dependencies array.

Thanks for your help @rictic!

[2022-09-20 15:22] #430 closed

[2022-09-23 00:17] dave52 opened #434 "Use 'watch' on multiple parallel running tasks"
This is perhaps a question or a feature request :)

Is it possible with Wireit, to kick off 2 (or more) tasks running in 'watch' mode in parallel, simultaneously awaiting changes?

I'm currently reaching for an `npm-run-all` (https://github.com/mysticatea/npm-run-all/blob/HEAD/docs/run-p.md) package to achieve this:

[code]

I tried a couple different ways of attacking this with Wireit but came up

[2022-09-26 14:50] dave52 commented on #434
I think my issue is a duplicate of #33 ...going to close this

[2022-09-26 14:50] #434 closed

[2022-09-28 06:25] SanderElias commented on #33
@aomarks can you share what you have, so I can take a stab at completing it?
Worst case scenario. you have a PR to deny ;)

[2022-10-02 15:53] aomarks commented on #33
Thanks! I'm actually working on this actively again now, hoping to land it in the next week or so.

[2022-10-21 21:09] tbroyer commented on #151
Upstream bug: https://github.com/stackblitz/core/issues/1857

[2022-10-25 09:47] SanderElias opened #478 "Ability to have global file dependencies."
Easier to explain by a sample.

In a mono-repo off all typescript projects, all projects inherit from the top `tsconfig.json`
It would be nice if I could specify a list of files that require everything to recompile.

[2022-10-25 14:31] rictic commented on #330
Still seeing this regularly

[2022-10-30 12:19] daKmoR opened #491 "Feature Request: auto detect and write dependencies"
## Description

Let's say I have these dependencies in my package which resides within a monorepo

[code]

now when I execute `npm run ts` it should run `ts` in all my "dependencies" (and its dependencies) first...
you can archive it via

[code]

but it feels like duplicating the dependency tree...
[code]

Don't get me wrong I like that it is very explicit to say what is depending on what... but c

[2022-10-31 22:57] aomarks commented on #491
Very interesting idea, thank you!

A related issue is https://github.com/google/wireit/issues/23, where I had suggested having a way to specify dependencies like this directly with a special syntax.

But I do quite like the idea of doing this, along with potentially other kinds of automatic configuration, using a `lint --fix` style command, instead of baking automation into the standard runtime.

[2022-11-02 09:13] SanderElias commented on #33
@aomarks I see you are getting close to having this completed 🎉
If you need someone to test-drive this, let me know! I have a couple of projects that would be good candidates.

[2022-11-02 16:37] aomarks commented on #33
Hey @SanderElias -- it is quite close, yes! I just published `0.7.3-pre.1` if you want to try it out. Expect some bugs, but hopefully the basic behavior should work. Docs are at https://github.com/google/wireit/blob/service/README.md#services

[2022-11-04 10:39] daKmoR opened #505 "Ts example "typo"?"
shouldn't that be `tsconfig.tsbuildinfo` and not "just" `.tsbuildinfo`?

at least that is what the file is called that gets created by my ts version (4.8.4)

[code]

[2022-11-05 16:43] SanderElias commented on #33
@aomarks I have been testing for a few days now. Mostly in angular projects.
Overall, it works reasonably well. There are some issues tho. The angular tools seem to "freeze" on a fairly regular base. This doesn't happen if I run them without wireit. Somehow it seems the processes are restarted before they are correctly/fully exited.

This occurred to me when I saw "errors" in my ngServe that happe

[2022-11-05 17:38] aomarks commented on #33
Thank you for beta testing @SanderElias, big help! I just published `0.7.3-pre.2` that has a number of fixes, mostly related to error handling, which could be related to the issues you saw. Let me know if you get a chance to try it out!

[2022-11-07 03:38] jdanyow commented on #33
@aomarks this is awesome- thank you! 0.7.3-pre.2 is working great for my project.

[2022-11-07 07:22] SanderElias opened #511 "Question to other wire-it users. (put here by lack of a better place!)"
I like WireIt a lot, and using it in more and more of my projects.
Thing is. I don't like editing the raw `package.json` manually.

So I scratched my own itch and did build a crude helper:
![image](https://user-images.githubusercontent.com/1249083/200248359-19d4a7c2-b100-44b2-8634-743fe2c650b9.png)

Works for me, but I'm curious if there would be other users that are interested.
If so, I will make

[2022-11-07 11:58] SanderElias commented on #33
@aomarks I tried again this morning. It seems a bit better, but I'm still experiencing a fair amount of freezes in my tools.
When this happens, it seems WiteIt also stalls an stops monitoring completely.

[2022-11-07 18:03] aomarks commented on #511
Very cool!

Minor nit: we spell it "Wireit" -- not "Wire-It"

[2022-11-07 18:12] #330 closed

[2022-11-07 23:40] #237 closed

[2022-11-08 01:00] aomarks commented on #33
@SanderElias I found a couple bugs from my own testing which could be related to the ones you have been seeing. Released `0.7.3-pre.3` with those fixes. Note this also includes https://github.com/google/wireit/pull/238 which is fairly with services too.

[2022-11-08 01:32] augustjk commented on #505
I could've sworn I've seen `.tsbuildinfo` being generated as a default which put me through a rabbit hole. It seems it depends on a lot of other configurations. https://github.com/microsoft/TypeScript-Website/issues/2393

I'm sure people reading the example will easily figure out where and what their own `.tsbuildinfo` is named as, but I do think your example look more sensible with `outDir` is se

[2022-11-08 07:55] SanderElias commented on #511
Fixed the naming!

[2022-11-09 17:49] aomarks opened #521 "Retry transient filesystem errors"
Seems to especially effect Windows, I think I've seen macOS too:

[code]

[2022-11-11 06:17] thejustinwalsh commented on #33
I gave this a test drive and am experiencing an issue when a service is a dependency of another service under watch mode; the dependency service doesn't appear to exit cleanly when pressing ctrl+c.

Here is a slimmed-down example of my setup...
[code]

In the example above, if I terminate the `dev:backend` service (by quitting the gui application) and then press ctrl+c, everything appears to be ge

[2022-11-11 07:05] aomarks commented on #33
Thank you @thejustinwalsh ! Can you confirm which version of wireit, and also which OS?

[2022-11-11 08:14] SanderElias commented on #33
@aomarks I'm still running into issues. It is getting better, but it still errors out quite often.
I'm on a project that also has an Angular front. this fronend is being handled by this wireit:
[code]

When using watch-mode, the problem is that the service is not properly exited before the recompilation of the dependencies starts, at least not on every run. Once the ting is stalled, I need to rest

[2022-11-11 10:31] alyahmedaly opened #524 "vscode-extension not supporting, have a script with only files"
vscode-extension not supporting, have a script with only files

[2022-11-11 17:47] thejustinwalsh commented on #33
Just moved to `0.7.3-pre.3` and am running `MacOS 12.6.1 (21G217)`

[2022-11-11 17:52] aomarks commented on #33
Did you get the errors you described on pre3?

[2022-11-12 01:26] aomarks opened #525 "Display summary with timing data"
On each iteration, show a summary of how many scripts ran/were fresh/were restored from cache -- and how long it took.

[2022-11-12 17:41] aomarks commented on #33
Hey @SanderElias, thanks again for the bug reporting!

Why is it important in this example for the service to exit *before compilation of the dependencies starts*? What I would expect would happen given the current implementation and your config is this:

1. wireit starts
2. `build:feutils` and `build:googlemaps` run to completion
3. `start:sandbox` starts
4. "watching for file changes"
5. a file

[2022-11-12 18:35] aomarks commented on #33
@SanderElias @thejustinwalsh I found an issue that's probably the cause of these reports -- indeed in some cases a second version of a service can sometimes start up before waiting for the first one to shut down. Working on fix now!

[2022-11-12 19:40] aomarks commented on #33
@SanderElias @thejustinwalsh I just published `0.7.3-pre.5` which has a fix that hopefully addresses this problem. Let me know if you get a chance to try it out!

[2022-11-12 20:16] aomarks commented on #33
Also, if you were using `triggersRerun: false` before, then note that setting has been renamed to `cascade: false`. Also note that `true` is the default value, so there's no need to set it in that case. (See https://github.com/google/wireit/pull/520)

[2022-11-13 01:02] thejustinwalsh commented on #33
Yes. As well as on pre1, same results with both preview builds. I did not try pre2 though.

[2022-11-13 01:04] thejustinwalsh commented on #33
Awesome I will check out pre5 and report back asap!

[2022-11-13 14:40] SanderElias commented on #33
@aomarks

Yes. That is part of the problem. The start-sandbox uses `ng serve`. This has its own watch mode, and it really doesn't like it when one of its dependencies gets recompiled while it is running.  Killing before compiling the dependencies does make sense in this case.
While thinking about it, I think it would be nice to have some control over this behavior, because it might depend on the t

[2022-11-13 16:16] aomarks commented on #33
Interesting, thanks! I'm trying to reproduce this problem locally -- I've got `ng serve` set up with a sample Angular project, but can you give me a little more information about what kind of files get generated by `build:feutils`?

It seems like, even if it would be *better* to stop the service before building the dependency (e.g. to avoid some unnecessary churn, or to avoid some error messages),

[2022-11-13 16:27] SanderElias commented on #33
@aomarks It is an angular CLI workspace.
The `build:feUrils` is building a lib by doing `ng build --project @libs/feUtils`.

In an angular project, you can add such a library with the command `ng generate library @libs/feUtis`

[2022-11-14 19:37] michaelwarren1106 opened #529 "Slashes in `files` array break service/watch execution"
Given a wireit config like the following:

[code]

and running with `npm run dev --watch`, the `dev` command will not be re-run when a file in the `/src` directory is changed and saved.

Removing the slash seems to work:

[code]

### Expected outcome
Inclusion of the leading slash should be consistent and still cause the watched command to be re-run

[2022-11-14 23:39] #529 closed

[2022-11-15 01:36] #33 closed

[2022-11-15 01:57] aomarks commented on #33
Services support is now released in `0.7.3`!

Docs are at https://github.com/google/wireit/#services

Changes from the pre-releases are the addition of `[readyWhen](https://github.com/google/wireit/#service-readiness)` (determines when a service is considered ready/serving) and `[cascade](https://github.com/google/wireit/#execution-cascade)` (determines which dependencies cause a service to restar

[2022-11-15 01:59] aomarks commented on #33
Services support is now released in `0.7.3`!

Docs are at https://github.com/google/wireit/#services

Changes from the pre-releases are the addition of [`readyWhen`](https://github.com/google/wireit/#service-readiness) (determines when a service is considered ready/serving) and [`cascade`](https://github.com/google/wireit/#execution-cascade) (determines which dependencies cause a service to restar

[2022-11-15 03:53] aomarks commented on #524
This should be fixed as of the latest version of the extension `v0.4.0`, which was just published: https://marketplace.visualstudio.com/items?itemName=google.wireit

[2022-11-15 03:53] #524 closed

[2022-11-15 10:55] SanderElias opened #540 "WireIt doesn't kill `ng serve` properly"
This the follow-up on the discussion in #33

I think your guess is right, and the problem is that WireIt doesn't seem able to kill `ng serve` properly.
If you look at this screenshot:
![image](https://user-images.githubusercontent.com/1249083/201902366-ca1b9d76-2d2d-46c5-bdc4-19f93eb759cd.png)

This happened after I killed WireIt Manually, and restarted the watch mode.
I `^c`'d it, and use `pkill`

[2022-11-17 10:09] jorgecasar opened #543 "RangeError: Invalid string length"
I'm having this bug in version 0.7.2:

[code]

And with version 0.7.3 I'm having this other message:

[code]

[2022-11-17 12:39] aomarks commented on #543
Thanks for the report! Can you provide the relevant config?

[2022-11-17 15:06] jorgecasar commented on #543
I really don't know what is the relevant config because in the previous commit it works fine. I only change typescript files of this package and I included some dependencies in other package. I hope you can understand it, because I can't share the real names.

Here is my config with normalized names. From one commit to the other I only added  `../package-[7-9]:build` in the wireit config of `packa

[2022-11-18 13:22] Westbrook opened #545 "Chained commands in Yarn classic lose reference to "npm_config_argv""
If a project wants to follow the pattern that @e111077 has laid out in https://github.com/e111077/11ty-lit/blob/main/package.json#L8 for one non-wireit script to call a wireit script with the `--watch` flag, but uses `yarn` instead of `npm` the following warning is thrown:
[code]
While the commands run through initially, the `--watch` instructions are not passed along, and the script will stay ope

[2022-11-18 14:08] jorgecasar commented on #543
I tried adding new dependencies of package-10 one by one. Once I added the second I reach heap limit (JavaScript heap out of memory):

[code]

[2022-11-18 14:19] SanderElias commented on #540
@aomarks Still happening.
Still feel it would be better when there is an option to kill the service (and wait for the exit) before starting to build the dependencies.

[2022-11-18 15:58] aomarks commented on #543
Thank you! I think this must be a larger p
project than I've tested with before, so we're hitting up against limits in the size of JSON objects we can serialize.

Will work on a fix, which is likely to use hashes within the fingerprint file instead of embedding the full fingerprint of dependencies.

[2022-11-18 21:15] #543 closed

[2022-11-18 23:35] aomarks commented on #521
Fixed by https://github.com/google/wireit/pull/547

[2022-11-18 23:35] #521 closed

[2022-11-19 01:02] aomarks opened #550 "Account for fast-glob vs chokidar glob differences"
fast-glob and chokidar understand globs in slightly different ways, plus we currently do a bunch of extra normalization etc. to the globs we pass to fast-glob, which we don't do to chokidar.The behaviors should be pretty much the same.

It's actually OK if chokidar sometimes handles more files than necessary, since we only use chokidar to notice a change *anywhere*, and always rely on fast-glob to

[2022-11-19 04:25] aomarks commented on #543
Hi @jorgecasar, this should be fixed in `0.8.0` which I just released.

[2022-11-19 14:37] michaelwarren1106 opened #553 "[discussion] add —watch to the wireit command as an option"
was curious about the reason behind the —watch flag not being able to be added to the wireit command directly?

imo, it would be super useful to be able to do

[code]

imo it’s a bit clunky to have to send the “--watch” flag with the runner command , ie npm/yarn/pnpm run rather than being able to bake it into the command by default.

i have a command similar to the above and i always forget that i

[2022-11-19 16:42] aomarks opened #554 "GitHub caching tests are extremely slow on Node 19"
Affects all OS's.

[2022-11-20 12:52] Westbrook commented on #553
I've also noticed this and wondered if this should actually be part of the `wireit` config. It happens that almost all of my `--watch` commands are services that deserve a watch flag in their own "command" such that they can't really beat  run without `--watch` anyways...

[2022-11-21 01:57] michaelwarren1106 commented on #553
+1 to a `watch: true` config option as well. imo either could be great

[2022-11-21 04:01] justinfagnani opened #556 "How to handle cross-cutting environment variables"
I want to change my builds slightly based on an environment variable, like `ELEVENTY_ENV` which would be valued `"development"` or `"production"`.

I have scripts in my configs that can change behavior based on env variables. I'd like to have two npm scripts to make invoking these easier. One plain script, and one script that sets the env variable first.

For a single script, I could try to do som

[2022-11-21 04:26] aomarks commented on #556
https://github.com/google/wireit/issues/93 should address this

[2022-11-21 04:30] aomarks commented on #93
Proposal for syntax:

[code]

So foo will be set to bar for that script, and baz will be just added to the fingerprint, with the value being inherited  (as it already would be).

[2022-11-21 04:56] justinfagnani commented on #556
Ah, sorry I missed that!

[2022-11-21 04:56] #556 closed

[2022-11-21 08:22] jorgecasar commented on #543
Incredible speed solving issues. It works perfectly. Thank you so much!

[2022-11-21 22:42] justinfagnani commented on #93
btw, I found a nice workaround for my case. I put all my environment variables into a `.env` file that's read with the `dotenv` package. Then I depend on that in my files array.

It doesn't differentiate between env variable, so any change to the file will cause all scripts in the current graph that depend on it to re-run, but for me that works out well.

[2022-11-23 00:52] aomarks opened #563 "Test yarn 3.x on CI"
We don't currently test yarn 3.x (aka Berry) on CI, because it's even less compatible with npm than yarn 1.x (it doesn't even use `node_modules/`), and it has to be installed via corepack. But we should still figure out a way to test it.

[2022-11-23 20:20] evelant commented on #553
A `watch: true` would be useful, when I first read the documentation I felt it was strange that this wasn't already possible

[2022-11-24 05:29] danny-huang-openfind opened #566 "Compare GNU Parallel to WireIt's main usage"
Notice: this is not a feature request or an error respond on using wireit, just a question which I'm curious about.
If this issue violate any rule of this project, please directly close this issue.

GNU Parallel's wikipedia page:
https://zh.wikipedia.org/wiki/GNU_parallel

Since the main usage of wireit looks as same as this tool, I'm wondering if there is any difference between these two.
Or this

[2022-11-24 09:28] fxalgrain commented on #409
+1

when using yarn & workspaces, it's a bit complex to define available command.
It looks like wireit is looking only on the root package.json.
As user, I expect that I can define the command in the sub package.

[2022-11-26 19:17] justinfagnani opened #568 "Some services not killed correctly"
I'm trying to figure out the conditions that cause this, and I don't have a repro yet.

I think it's a combination of:

- Service A as a dependency, like of a pass-through script
- Watch mode
- An error in a dependency of service A, like a TS build error for the service
- Fixing that error

Then if seems like when wireit goes to restart service A, it doesn't kill it first. This is end-user noticea

[2022-11-28 09:26] SanderElias commented on #568
@justinfagnani this seems to be the same problem I have in my angular project. Let me see if I can quickly whip up a demo repo.

[2022-11-28 10:24] SanderElias commented on #540
As promised in #568 I created a small repo to demo the issue I have.
steps to reproduce:

[code]

That should bring up the `ng serve` of the demo app. you can open this on `http://localhost:4200/`

Now open the file `projects/lib-a/src/lib/lib-a.service.ts` and change the string or something.
In most cases, the `ng serve` command will _not_ be killed at all.
When you repeat this a couple of times,

[2022-11-29 12:45] cefn commented on #23
Maybe I misunderstood the scope of this feature, but I'd be expecting globs in the `workspaces` and `dependencies` fields, as I would value e.g. having different tasks for my apps vs packages, or maybe different text matches in package names. For example my current need is something like this...

[code]

Currently I'm having to automate the composition of an array like this which is pretty unpleas

[2022-11-29 13:12] gunta opened #571 "Is it possible to pass extra argument flags to all dependencies?"
Is it possible to pass extra argument flags to all (or specific) dependencies in the chain?

[code]

Ie. I want this
[code]
↓
to resolve to this
[code]

I can see this being workaroundable if https://github.com/google/wireit/issues/93 gets implemented.

[2022-11-29 15:34] cefn opened #572 "Github Actions example incorrect"
At the time of writing the Github Actions caching example reads as below. Not sure where this configuration came from but it doesn't seem to align with Github Actions at all.

Github reported to me that there's no such key as `os` and it also chokes on `cache: true`.
I replaced `os: ubuntu-20.04` with `runs-on: ubuntu-latest`. I replaced `cache: true` with `cache: "npm"` and then the workflow ran

[2022-11-29 17:28] aomarks opened #575 "readyWhen is not documented under Reference"
https://github.com/google/wireit#configuration should mention `service.readyWhen.lineMatches`

[2022-11-29 17:55] aomarks commented on #545
Fixed in v0.9.0

[2022-11-29 17:55] #545 closed

[2022-11-29 21:56] augustjk commented on #553
I think these are valid suggestions. I suppose workaround for now would be to do something like
[code]
so `npm run dev` will always watch.

[2022-11-29 22:05] aomarks commented on #553
Yeah, I'm open to either `"watch": "wireit --watch"` or something like `{"watch": true}` which would be more convenient and also eliminate the extra node process needed by the workarounds.

My only trepidation is around using such a script as a *dependency*, though. Watch mode is a global thing -- it applies to all scripts in the graph. So what would it mean to launch a script *not* in watch mode,

[2022-11-29 22:25] aomarks commented on #566
Hi @danny-huang-openfind, thanks for the question.

#### Similarities:
- Both execute shell commands
- Both can run multiple shell commands in parallel

#### Differences:
- Wireit is tied to the [npm](https://en.wikipedia.org/wiki/Npm_(software)) ecosystem. It has to be launched using an npm-script runner like npm, pnpm, or yarn. GNU parallel is a more general-purpose unix command that you invoke

[2022-11-29 22:25] #566 closed

[2022-11-29 22:27] evelant commented on #553
That sounds like a great solution.

[2022-11-30 13:10] cefn opened #577 "Impossible to skip wireit cache"
I have tried the following invocations, following details in the Wireit readme...

[code]

[code]

They both result in the following which visibly uses the cache, making it almost impossible to work with wireit. A workaround is to hunt down every `.wireit` folder and remove it whenever you wish to prove npm tasks for real.

[code]